@layer base {
  :root {
    --color-black: #404746;
    --color-black-thick: #232323;
    --color-primary-light: #6b4aef;
    --color-primary: #28166f;
    --color-primary-thick: #0f0243;
    --color-secondary-light: #e27f7a;
    --color-secondary: #de4841;
    --color-secondary-thick: #7a1d19;
    --color-muted-light: #dfdfdf;
    --color-muted-vlight: #efefef;
    --color-muted: #aaaaaa;
    --color-muted-thick: #555555;
    --color-success: #198754;
    --color-danger: #f44336;
    --color-danger-thick: #821007;
    --color-orange: #ffa500;
  }
}
