@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./app//scss//theme.scss";
@import "./app//scss//scrollbar.scss";

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  min-width: 350px;
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    "Liberation Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  overflow-y: auto !important;
  width: 100vw;
  height: 100vh;
  background-color: #efefef;
  color: #404746;
}

/* apply perfect scroll to every scrollable element */
:not(i) {
  @apply transition-colors duration-500;
  @include scrollbar;
}

.layout-container {
  width: calc(100% - 20px);
  padding: 0;
  margin: auto;

  @media screen and (min-width: 768px) {
    width: 767px;
    padding: 0 15px;
  }

  @media screen and (min-width: 1024px) {
    width: 980px;
    padding: 0 15px;
  }

  @media screen and (min-width: 1280px) {
    width: 1200px;
    padding: 0 20px;
  }
}

.default-css {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b,
  ol,
  a,
  label,
  em,
  ul {
    all: revert !important;
    font-family: initial !important;
    font-size: 1.1em;
  }
}

.dropdown-panel {
  width: 100%;
  height: auto;
  opacity: 1;
  overflow: hidden;
  transition: all ease-in-out 0.3s;

  &.closed {
    height: 0;
    width: 0;
    opacity: 0;
  }
}

.shimmer {
  color: rgb(128, 128, 128);
  display: inline-block;
  mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/350% 100%;
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  100% {
    mask-position: left;
  }
}
